body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  
}
.header {
  height: 100px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.movie-card {
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  width: 300px;
}
.movie-card {
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  width: 300px;
}
.movie-card.card {
  height: 450px;
}
.card-footer-badge {
  font-size: 1rem;
}
.movie-card.card {
  height: 450px;
}
.card-footer-badge {
  font-size: 1rem;
}
